<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Etapas da História da Igreja</h1>
    <h2><a href="{{ url_for('administrador.index') }}">Inicio</a></h2>
    <a href="{{ url_for('administrador.adicionar_historia') }}">Adicionar nova etapa</a>

    <br>
    <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;" class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% for etapa in historia %}
    <div class="historia_item">
        <img style="width: 150px; height: 100px; border: 2px solid black;" src="{{ url_for('static', filename = 'uploads/historia/' + etapa.HISTORY_IMAGE) }}" alt="Imagem da etapa">
        <h3>{{ etapa.HISTORY_TITLE }}</h3>
        <p>{% if etapa.HISTORY_YEAR_END %} {{ etapa.HISTORY_YEAR_START }} - {{ etapa.HISTORY_YEAR_END }} {% else %} {{ etapa.HISTORY_YEAR_START }} - atual {% endif %}</p>
        <p>{{ etapa.HISTORY_CONTENT }}</p>
        <a href="{{ url_for('administrador.editar_historia', historia_id=etapa.HISTORY_ID) }}">Editar</a>
        <a href="{{ url_for('administrador.excluir_historia', historia_id=etapa.HISTORY_ID) }}">Excluir</a>
    </div>
    <br>
    {% endfor %}
</body>
</html>