<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Gerencie os pedidos de oração
    </h1>
    <h2><a href="{{ url_for('administrador.index') }}">Home Page</a></h2>
    {% for pedido in pedidos %}
    <div>
        <p>{{ pedido.PRAYER_REQUEST_TEXT }}</p>
        <h4>Por:</h4> <p> 
            {% if pedido.PRAYER_NAME %}
            {{ pedido.PRAYER_NAME }} 
            {% else %} 
            Pedido Anônimo 
            {% endif %}
        </p>
        {% if pedido.PRAYER_CONTACT_EMAIL or pedido.PRAYER_CONTACT_PHONE %}
        <div id="meios_de_contato">
            {% if pedido.PRAYER_CONTACT_PHONE %}
            <h4>
                Telefone
            </h4>
            <br>
            <p>{{ pedido.PRAYER_CONTACT_PHONE }}</p>
            {% endif %}

            {% if pedido.PRAYER_CONTACT_EMAIL %}
            <h4>
                Email
            </h4>
            <br>
            <p>{{ pedido.PRAYER_CONTACT_EMAIL }}</p>
            {% endif %}
            

        </div>
        {% endif %}
        <form action="{{ url_for('administrador.editar_pedidos_oracao', pedido_id= pedido.PRAYER_ID ) }}" method="post">
            {{ formulario.hidden_tag() }}
            <select name="status" onchange="this.form.submit()">
                <option value="pendente"
                    {% if pedido.PRAYER_STATUS == "pendente" %}selected{% endif %}>
                    Pendente
                </option>

                <option value="orando"
                    {% if pedido.PRAYER_STATUS == "orando" %}selected{% endif %}>
                    Orando
                </option>

                <option value="respondida"
                    {% if pedido.PRAYER_STATUS == "respondida" %}selected{% endif %}>
                    Respondida
                </option>
            </select>
        </form>
    </div>
    {% endfor %}

</body>
</html>