<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="loginForm" action="{{ url_for('administrador.cadastrar_adm')}}" method="POST">
            
        <p>
            {{ formulario.hidden_tag() }} <br>
            {{ formulario.nome.label }} <br>
            {{ formulario.nome(size=32) }} <br>

            {% for error in formulario.nome.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.email.label }} <br>
            {{ formulario.email(size=32)}} <br>

            {% for error in formulario.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.ativo.label }} <br>
            {{ formulario.ativo}} <br>

            {{ formulario.password.label }} <br>
            {{ formulario.password(size=32)}} <br>

            {% for error in formulario.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.password_confirm.label }} <br>
            {{ formulario.password_confirm(size=32)}} <br>

            {% for error in formulario.password_confirm.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            

            {{ formulario.submit()}}
        </p>

    </form>
</body>
</html>