<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Tem certeza que deseja excluir {{administrador_selected.ADMIN_NAME}}?</h2>
    <form action="{{ url_for('administrador.excluir_adm', user_id=administrador_selected.ADMIN_ID) }}" method="post">
        {{ formulario.hidden_tag() }}<br>
        {{ formulario.password.label }} 
        {{ formulario.password(size=32)}} 
        <h1>{{ administrador_selected.ADMIN_ID }}</h1>
        
        <br>
        {{ formulario.submit()}} 
    </form>
</body>
</html>