<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eventos</h1>
    <a href="{{ url_for('administrador.adicionar_evento') }}">Adicionar novo evento</a>

    <br>
    <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="color: red;" class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% for evento in eventos %}
    <div class="evento_item">
        {% if evento.EVENT_BANNER %}
        <img style="width: 150px; height: 100px; border: 2px solid black;" src="{{ url_for('static', filename = 'uploads/eventos/' + evento.EVENT_BANNER) }}" alt="Banner do evento">
        {% endif %}
        <h3>{{ evento.EVENT_TITLE }}</h3>
        <p>Data: {{ evento.EVENT_DATE }} {% if evento.EVENT_TIME %} às {{ evento.EVENT_TIME }} {% endif %}</p>
        <p>Local: {% if evento.EVENT_LOCATION %} {{ evento.EVENT_LOCATION }} {% else %} Não informado {% endif %}</p>
        <p>{{ evento.EVENT_DESCRIPTION }}</p>
        <p>{% if evento.EVENT_REGISTRATION_REQUIRED %} Requer inscrição {% endif %}</p>
        <p>Status: {% if evento.EVENT_PUBLISHED %} Publicado {% else %} Não publicado {% endif %}</p>
        <a href="{{ url_for('administrador.editar_evento', evento_id=evento.EVENT_ID) }}">Editar</a>
        <a href="{{ url_for('administrador.excluir_evento', evento_id=evento.EVENT_ID) }}">Excluir</a>
    </div>
    <br>
    {% endfor %}
</body>
</html>