<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="loginForm" action="{{ url_for('administrador.adicionar_devocional') }}" method="POST" enctype="multipart/form-data">
            
        <p>
            {{ formulario.hidden_tag() }} <br>
            {{ formulario.titulo.label }} <br>
            {{ formulario.titulo(size=32) }} <br>


            {% for error in formulario.titulo.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.conteudo.label }} <br>
            {{ formulario.conteudo }} <br>


            {% for error in formulario.conteudo.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.versiculo.label }} <br>
            {{ formulario.versiculo}} <br>

            {% for error in formulario.versiculo.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.banner.label }} <br>
            {{ formulario.banner}} <br>


            {% for error in formulario.banner.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}



            {{ formulario.inicio.label }}
            {{ formulario.inicio(type="date", min=hoje, id='inicio') }}

            {% for error in formulario.inicio.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            


            {{ formulario.fim.label }}
            {{ formulario.fim(type="date", min=hoje, id='fim') }}



            {% for error in formulario.fim.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.publicar.label }}
            {{ formulario.publicar}}

            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div style="color: red;" class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}



            {% for error in formulario.publicar.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.submit}}
        </p>

    </form>
    <script>
        const inicio = document.getElementById('inicio');
        const fim = document.getElementById('fim');

        inicio.addEventListener("change", function() {
            fim.min = this.value;

            if (fim.value < this.value) {
                fim.value=""
            }
        });
    </script>
</body>
</html>