<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div style="color: red;" class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <form id="loginForm" action="{{ url_for('administrador.cadastrar_estudo') }}" method="POST" enctype="multipart/form-data">
            
        <p>
            {{ formulario.hidden_tag() }} <br>
            {{ formulario.titulo.label }} <br>
            {{ formulario.titulo(size=32) }} <br>

            {% for error in formulario.titulo.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.conteudo.label }} <br>
            <!-- Não se renderiza o input original do formulário, devido estarmos usando o da biblioteca de editor de texto. Ele irá repassar o valor obtido pela blibioteca para o input abaixo que tem o mesmo valor do input original do forms -->
            <div id="editor-conteudo" contenteditable="true"></div>
            <input type="hidden" id="conteudo" name="conteudo">

            {% for error in formulario.conteudo.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.referencia.label }} <br>
            {{ formulario.referencia}} <br>

            {% for error in formulario.referencia.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.banner.label }} <br>
            {{ formulario.banner}} <br>

            {% for error in formulario.banner.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.tema.label }} <br>
            {{ formulario.tema}} <br>

            {% for error in formulario.tema.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.destaque.label }}
            {{ formulario.destaque }}

            {% for error in formulario.destaque.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            
            {{ formulario.publicar.label }}
            {{ formulario.publicar }}

            {% for error in formulario.publicar.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.submit()}}
        </p>

    </form>
    
    <!-- Aqui é para chamar o editor de texto para poder organizar a pregação  -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <script>
        const quill = new Quill('#editor-conteudo', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': 2 }],   // vira o "Subtítulo" (h2)
                    ['bold', 'italic'],  // texto corrido
                ]
            }
        });

        document.getElementById('loginForm').addEventListener('submit', function () {
            document.getElementById('conteudo').value = quill.root.innerHTML;
        });

        const form = document.getElementById("loginForm");

        form.addEventListener("submit", function (e) {

            // Texto sem formatação
            const texto = quill.getText().trim();

            if (texto.length === 0) {
                e.preventDefault();
                alert("O conteúdo do estudo é obrigatório.");
                return;
            }

            document.getElementById("conteudo").value = quill.root.innerHTML;
        });
        
        const editor = document.getElementById("editor-conteudo");

        editor.addEventListener("paste", function (e) {
            e.preventDefault();

            const texto = (e.clipboardData || window.clipboardData).getData("text/plain");

            document.execCommand("insertText", false, texto);
        });
    </script>
</body>
</html>