<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Estudo Bíblico</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}

    <h2>Confirmar exclusão do estudo</h2>

    <!-- Referência visual de qual conteúdo estará sendo excluído -->
    <p><strong>Título:</strong> {{ estudo_selected.STUDY_TITLE }}</p>
    <p><strong>Referência:</strong> {{ estudo_selected.STUDY_BIBLICAL_REFERENCE }}</p>
    <p><strong>Tema:</strong> {{ estudo_selected.STUDY_THEME }}</p>

    <form id="excluirEstudoForm" action="{{ url_for('administrador.excluir_estudo', estudo_id=id) }}" method="POST">

        <p>
            {{ formulario.hidden_tag() }} <br>

            {{ formulario.password.label }} <br>
            {{ formulario.password() }} <br>

            {% for error in formulario.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            {{ formulario.submit() }}
        </p>

    </form>

</body>
</html>