<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem-vindo(a) {{administrador.ADMIN_NAME}} à área administrativa</h1>
    <h3><a href="{{ url_for('administrador.adicionar_agenda')}}">Administrar agenda da semana</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_devocionais')}}">Administrar devocionais</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_videos') }}">Resgistrar pregação em vídeo</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_historia') }}">História da igreja</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_departamentos') }}">Departamentos da Igreja</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_eventos') }}">Eventos da Igreja</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_redes_sociais') }}">Redes sociais</a></h3>
    <h3><a href="{{ url_for('administrador.exibir_pedidos_oracao') }}">Pedidos de oração</a></h3>
    <h3>Sessão root</h3>
    {% if administrador.ADMIN_ROLE == 'root' %}
    <p><a href="{{ url_for('administrador.cadastrar_adm') }}">Cadastrar administrador</a></p>
    {% endif %}
    <p>{{ administrador.ADMIN_ROLE }}</p>

    <a href="{{ url_for('auth.deslogar_do_sistema') }}">Logout</a>

    <br>
    <br>
    <br>
    {% if administrador.ADMIN_ROLE == 'root' %}
    <h3>Lista de administradores cadastrados</h3>
        {% for administrador_edit in administradores %}
        <div class="administrador_list">
            Nome: {{administrador_edit.ADMIN_NAME}} |  Email: {{administrador_edit.ADMIN_EMAIL}}  |  Data de cadastro:  {{administrador_edit.ADMIN_CREATED_AT}}  |  Status: {%if administrador_edit.ADMIN_ACTIVE %} ATIVO {%else%} DESATIVADO {%endif%} {%if administrador_edit.ADMIN_ID != administrador.ADMIN_ID %} <a href="{{ url_for('administrador.excluir_adm', id=administrador_edit.ADMIN_ID) }}">Excluir</a> {%endif%} <a href="{{ url_for('administrador.redirectupdate_adm', user_id=administrador_edit.ADMIN_ID) }}">Editar</a>
        </div>
        {%endfor%}
    {% endif %}

    {% if administrador.ADMIN_ROLE == 'editor' %}
    <a href="{{ url_for('administrador.cadastrar_estudo')}}">Cadastrar estudo bíblico</a>
    <br>

    {% for estudo in estudos %}

    <div>
        <a href="#"><h3>{{estudo.STUDY_TITLE}}</h3></a>
        <img style="width: 100px; height: 100px; border: 2px solid black;" src="{{ url_for('static', filename = 'uploads/estudos/' + estudo.STUDY_BANNER) }}" alt="Banner do estudo">
        <p>{{estudo.STUDY_CREATED_AT}} | {% if estudo.STUDY_PUBLISHED %} Publicado {% else %} Não publicado {% endif %}</p>
        <a href="{{ url_for('administrador.atualizar_estudo', estudo_id=estudo.STUDY_ID) }}">Editar</a>
        <a href="{{ url_for('administrador.excluir_estudo', estudo_id=estudo.STUDY_ID) }}">Excluir</a>
    </div>

    {% endfor %}
    {% endif %}
</body>
</html>