<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Seja bem-vindo(a) {{administrador.ADMIN_NAME}} à área administrativa</h1>
    <h3>Sessão root</h3>
    {% if administrador.ADMIN_ROLE == 'root' %}
    <p><a href="{{ url_for('administrador.cadastrar_adm') }}">Cadastrar administrador</a></p>
    {% endif %}
    <p>{{ administrador.ADMIN_ROLE }}</p>

    <a href="{{ url_for('auth.deslogar_do_sistema') }}">Logout</a>
</body>
</html>