<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="loginForm" action="{{ url_for('auth.logar_no_sistema')}}" method="POST">
            
        <p>
            {{ formulario.hidden_tag() }} <br>
            {{ formulario.email.label }} <br>
            {{ formulario.email(size=32)}} <br>

            {% for error in formulario.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.password.label }} <br>
            {{ formulario.password(size=32)}} <br>

            {% for error in formulario.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.submit()}}
        </p>

    </form>
</body>
</html>