<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="two_factor" action="{{ url_for('auth.two_factor_authentication') }}" method="POST"> 
        <p>
            {{ code_form.hidden_tag() }} <br>
            {{ code_form.code.label }} <br>
            {{ code_form.code(size=32)}} <br>
            {{ code_form.submit()}}
        </p>

    </form>
</body>
</html>