<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="loginForm" action="{{ url_for('administrador.adicionar_rede_social') }}" method="POST">

        <p>
            {{ formulario.hidden_tag() }} <br>
            {{ formulario.plataforma.label }} <br>
            {{ formulario.plataforma }} <br>

            {% for error in formulario.plataforma.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.url.label }} <br>
            {{ formulario.url(size=32) }} <br>

            {% for error in formulario.url.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.ordem.label }} <br>
            {{ formulario.ordem }} <br>

            {% for error in formulario.ordem.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}

            {{ formulario.ativo.label }}
            {{ formulario.ativo }}

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div style="color: red;" class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {{ formulario.submit }}
        </p>

    </form>
</body>
</html>